html, 
h1, body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  text-align: center;
  list-style: center;
  background-color: #3843e4;
}

.modal-container {
  display: none;
}

.modal-is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto; 
  display: inline-block;
  text-align: center;
}

.modal-title {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 50%;
  height: 50%;
  text-align: left;
}

.image-container {
float: right;
}

.pokemon-image {
  display: inline-bock;
  height: 250px;
  width: 250px;
}

.pokemon-list{
  text-align: center;
  list-style: none;
}  

:root {
  --text-color: black;
  --primary-color: #00c8ff;
  --secondary-color: #ff4ae4;
  --background-color: #8ed7f9;
}

@media (min-width: 570px) {
  .list-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 760px) {
  .list-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 990px) {
  .list-group {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}
  
.list-group-item {
  list-style-type: none;
  text-align: center;
  background-color: var(--background-color);
  border: none;
  padding: 0;
}
  
.btn {
  background-color: var(--primary-color);
  border: 0.5rem solid var(--secondary-color);
  margin: 10px auto 10px auto;
  padding: 20px;
  font-family: inherit;
  font-size: 3rem;
  cursor: pointer;
  width: 80%;
}
  
.btn:hover {
  transform: scale(1.0);
}
 
@media screen and (min-width: 712px) and (max-width: 991px) {
  .btn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .btn {
    max-width: 1000px;
  }
}






  
  
  

